.sme-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.sme-container section {
  margin-bottom: 10px;
}

.add-new-form-section form {
  display: none;
  margin-bottom: 20px;
}

/* START - Button Section */

.button-section-container {
  grid-template-columns: 1fr 1fr;
}

/* END - Button Section */

/* START - Structure Section */
.structure-section>.structure-lists {
  overflow-y: auto;
  height: 25vh;
}

.structure-lists ul {
  list-style: none;
}

/* When the width is smaller than 768px */
@media screen and (max-width: 768px) {
  .structure-section {
    height: 20vh;
  }
}

.structure-list {
  padding-left: 0;
}

.structure-list li.active .row-wrapper {
  background: lightgoldenrodyellow;
  border: 2px dashed #999;
  opacity: 0.8;
}

.structure-title.heading {
  font-weight: bold;
}

.structure-title>.icon-invalid {
  color: #dc5353;
}

.row-wrapper {
  background: #efefef;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.row-wrapper.invalid {
  background: #eccdcd;
}

@media (max-width: 768px) {
  .no-gutters {
    gap: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .no-gutters {
    gap: 0.25em !important;
  }
}

.edit-controls-wrapper {
  position: relative;
}

.edit-controls-wrapper a {
  margin: 0 5px;
  cursor: pointer;
}

/* END - Structure Section */

/* START - Override Bootstrap CSS */
.sme-container .alert {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sme-container .alert p {
  margin-bottom: 0;
}

.sme-container .form-label {
  font-weight: bold;
}

/* END - Override Bootstrap CSS */

/* START - Waveform section */
.waveform-row {
  align-items: center;
}

#waveform-container,
#zoomview-container,
#overview-container {
  box-shadow: 3px 3px 20px #919191;
  margin: 0 0 24px 0;
  -moz-box-shadow: 3px 3px 20px #919191;
  -webkit-box-shadow: 3px 3px 20px #919191;
  line-height: 0;
  margin-bottom: 15px;
}

#waveform-container {
  margin: auto;
}

#waveform-container.disabled {
  pointer-events: none;
  opacity: 0.7;
  background-color: #efefef
}

#overview-container {
  height: 85px;
}

#zoomview-container {
  height: 200px;
}

.waveform-section {
  margin: auto;
}

.waveform-media>video {
  width: 100%;
  padding-right: 0;
}

.waveform-toolbar {
  width: 100%;
  margin: 1rem 0;
  padding: 0;
}

/* When the width is less than 768px - small devices */
@media screen and (max-width: 768px) {
  #overview-container {
    height: 45px;
  }

  #zoomview-container {
    height: 85px;
  }
}

/* When the width is between 768px and 992px - medium device */
@media screen and (max-width: 991px) and (min-width: 769px) {
  #overview-container {
    height: 55px;
  }

  #zoomview-container {
    height: 100px;
  }
}

/* When the width is between 992px and 1400px - large devices */
@media screen and (max-width: 1400px) and (min-width: 992px) {
  #overview-container {
    height: 60px;
  }

  #zoomview-container {
    height: 160px;
  }
}

@media screen and (min-width: 1401px) {
  #overview-container {
    height: 85px;
  }

  #zoomview-container {
    height: 200px;
  }
}

/* END - Waveform section */


/* START - Loading spinner */
/* Loading spinner from https://github.com/avalonmediasystem/avalon/blob/develop/app/assets/stylesheets/avalon/_loading-spinner.scss */
/* Modified to block the background while loading */
.loading-spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(220, 218, 218, 0.3);
}

.loading-spinner:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 48%;
  top: 40%;
  border-radius: 50%;
  border: 6px solid #80a590;
  border-color: #80a590 transparent #80a590 transparent;
  -webkit-animation: loading-spinner 1.2s linear infinite;
  animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* END - Loading spinner */

/* START - Volume slider styles, refrence: https://codepen.io/ibaslogic/pen/zYMJZaQ */
.volume-slider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* gap: 1em; */
  width: 200px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 5px 10px;
  border-radius: 4px;
}

.volume-slider>button>.svg-inline--fa {
  width: 1em;
  color: black;
}

.volume-slider>button,
.volume-slider>button:active,
.volume-slider>button:focus {
  padding-left: 0;
  border: none;
  outline: none;
  background-color: transparent !important;
  box-shadow: none !important;
}

.volume-slider>button:hover {
  background-color: transparent;
}

.volume-slider-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  height: 3px;
  background: #ccc;
}

.volume-slider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}

.volume-slider-range::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}

.volume-slider-range::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(150, 150, 150, 0.1)
}

.volume-slider-range:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(150, 150, 150, 0.2)
}

.volume-slider-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(150, 150, 150, 0.2)
}


.volume-slider-range::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(150, 150, 150, 0.1)
}

.volume-slider-range:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(150, 150, 150, 0.2)
}

.volume-slider-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(150, 150, 150, 0.2)
}

/* END - Volume slider styles */

/* START - Error message styles */
/* From the Ramp UI library */
.error-message-alert {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 0.25rem;

  span {
    align-content: center;
  }
}

/* Error message styles */
